flows.json
[
    {
        "id": "c79ee600.c17d18",
        "label": "new package",
        "type": "tab"
    },
    {
        "id": "9a35d69d.adeb08",
        "type": "twitter",
        "z": "c79ee600.c17d18",
        "name": "",
        "subtype": "twitterHashTagStream",
        "x": 401,
        "y": 420,
        "wires": [
            [
                "2a94594a.6562d6"
            ]
        ]
    },
    {
        "id": "3b8495a.c860f6a",
        "type": "app",
        "z": "c79ee600.c17d18",
        "name": "",
        "appId": "webapp",
        "layout": null,
        "x": 901,
        "y": 506,
        "wires": []
    },
    {
        "id": "2a94594a.6562d6",
        "type": "dbfunction",
        "z": "c79ee600.c17d18",
        "name": "tweet sentiment",
        "func": "var sentiment = require(\"sentiment\");\nvar r = sentiment(msg.payload.value);\n\nreturn {\n    payload: {\n        tweet: msg.payload.value,\n        sentiment: r.score,\n    }\n}",
        "outputs": 1,
        "inputtypedef": "",
        "outputtypedef": "{\n    \"name\": \"container object\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"payload\": {\n            \"type\": \"object\",\n            \"properties\":{\n                \"tweet\": {\"type\":\"string\"},\n                \"sentiment\": {\"type\": \"number\"}\n            }\n        }\n    }\n}",
        "noerr": 0,
        "x": 591,
        "y": 423,
        "wires": [
            [
                "20725dad.6e52e2",
                "83cdc5c2.5b13f8"
            ]
        ]
    },
    {
        "id": "20725dad.6e52e2",
        "type": "debugger",
        "z": "c79ee600.c17d18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 754,
        "y": 340,
        "wires": []
    },
    {
        "id": "83cdc5c2.5b13f8",
        "type": "uibuilder",
        "z": "c79ee600.c17d18",
        "name": "",
        "templatesById": {
            "79018062.5d533": {
                "id": "79018062.5d533",
                "label": "group:79018062.5d533",
                "type": "group",
                "x": -6,
                "y": -13,
                "width": 1399.1300048828125,
                "height": 840.5890502929688,
                "children": [
                    "12832db6.44ab02",
                    "a49936da.7398c8",
                    "3ab5b12d.bb692e",
                    "4a8ff15e.450c7",
                    "26cb77ee.9d2aa8",
                    "20c35985.6f4606",
                    "643debd2.3ae504",
                    "8ef4e467.db1d48",
                    "af2e3aef.fedf78",
                    "4df46e60.079a4",
                    "fda2d539.506928"
                ],
                "style": {
                    "fill": "none",
                    "stroke": "none",
                    "opacity": 1,
                    "stroke-width": 0
                }
            },
            "12832db6.44ab02": {
                "id": "12832db6.44ab02",
                "label": "rect:12832db6.44ab02",
                "type": "rect",
                "x": 0,
                "y": 4.465000152587891,
                "width": 1399.1300048828125,
                "height": 836,
                "style": {
                    "fill": "rgb(72, 72, 72)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "a49936da.7398c8": {
                "id": "a49936da.7398c8",
                "label": "path:a49936da.7398c8",
                "type": "path",
                "d": "M 470.689,840.589 l 162.946,-652.928 l 0,327.077 l -119.495,325.851 l -43.451,0 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "3ab5b12d.bb692e": {
                "id": "3ab5b12d.bb692e",
                "label": "path:3ab5b12d.bb692e",
                "type": "path",
                "d": "M 435.616,840.589 l 119.253,-782.314 l 78.766,116.442 l 0,20.199 l -161.67,645.673 l -36.349,0 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "4a8ff15e.450c7": {
                "id": "4a8ff15e.450c7",
                "label": "path:4a8ff15e.450c7",
                "type": "path",
                "d": "M 399.186,840.589 l 45.618,-840.589 l 70.646,0 l 41.24,60.966 l -120.355,779.623 l -37.149,0 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "26cb77ee.9d2aa8": {
                "id": "26cb77ee.9d2aa8",
                "label": "path:26cb77ee.9d2aa8",
                "type": "path",
                "d": "M 399.577,840.589 l -40.8,0 l -42.004,-768.923 l 105.946,-71.666 l 23.362,0 l -46.504,840.589 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "20c35985.6f4606": {
                "id": "20c35985.6f4606",
                "label": "path:20c35985.6f4606",
                "type": "path",
                "d": "M 313.617,840.589 l -52.125,0 l -189.136,-602.968 l 122.203,-82.662 l 119.058,685.63 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "643debd2.3ae504": {
                "id": "643debd2.3ae504",
                "label": "path:643debd2.3ae504",
                "type": "path",
                "d": "M 358.777,840.589 l -44.168,0 l -119.259,-686.788 l 121.423,-82.135 l 42.004,768.923 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "8ef4e467.db1d48": {
                "id": "8ef4e467.db1d48",
                "label": "path:8ef4e467.db1d48",
                "type": "path",
                "d": "M 262.646,840.589 l -55.294,0 c -72.932,-156.645 -152.544,-326.141 -202.741,-428.573 l 0,-129.772 c 32.536,-21.836 68.535,-45.781 68.535,-45.781 l 189.5,604.126 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "af2e3aef.fedf78": {
                "id": "af2e3aef.fedf78",
                "label": "path:af2e3aef.fedf78",
                "type": "path",
                "d": "M 390.53,42.365 l 4.847,37.099 l 37.841,7.445 l -34.845,15.484 l 4.847,37.099 l -26.383,-27.53 l -34.846,15.484 l 18.541,-32.498 l -26.383,-27.53 l 37.841,7.445 l 18.54,-32.498 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "4df46e60.079a4": {
                "id": "4df46e60.079a4",
                "label": "path:4df46e60.079a4",
                "type": "path",
                "d": "M 155.885,196.701 l 4.847,37.099 l 37.841,7.445 l -34.845,15.484 l 4.847,37.099 l -26.383,-27.53 l -34.846,15.484 l 18.54,-32.498 l -26.383,-27.53 l 37.842,7.445 l 18.54,-32.498 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "fda2d539.506928": {
                "id": "fda2d539.506928",
                "label": "path:fda2d539.506928",
                "type": "path",
                "d": "M 194.763,336.263 l 4.847,37.099 l 37.842,7.445 l -34.846,15.484 l 4.847,37.099 l -26.383,-27.53 l -34.845,15.484 l 18.54,-32.498 l -26.383,-27.53 l 37.841,7.445 l 18.54,-32.498 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "2f83a267.196a6e": {
                "id": "2f83a267.196a6e",
                "label": "circle:2f83a267.196a6e",
                "type": "circle",
                "cx": 771,
                "cy": 328,
                "r": 212.8497122384712,
                "style": {
                    "fill": "white",
                    "stroke": "black",
                    "stroke-width": 1,
                    "opacity": 1
                }
            }
        },
        "templates": [
            "79018062.5d533",
            "2f83a267.196a6e"
        ],
        "mappings": [],
        "transformers": {},
        "canvasdimensions": {
            "w": 1348,
            "h": 782.5888888888888
        },
        "tree": {},
        "x": 760,
        "y": 487,
        "wires": [
            [
                "3b8495a.c860f6a"
            ]
        ]
    }
]