flows.json
[
    {
        "id": "c79ee600.c17d18",
        "label": "new package",
        "type": "tab"
    },
    {
        "id": "9a35d69d.adeb08",
        "type": "twitter",
        "z": "c79ee600.c17d18",
        "name": "",
        "subtype": "twitterHashTagStream",
        "x": 401,
        "y": 420,
        "wires": [
            [
                "2a94594a.6562d6"
            ]
        ]
    },
    {
        "id": "3b8495a.c860f6a",
        "type": "app",
        "z": "c79ee600.c17d18",
        "name": "",
        "appId": "webapp",
        "layout": null,
        "x": 901,
        "y": 506,
        "wires": []
    },
    {
        "id": "2a94594a.6562d6",
        "type": "dbfunction",
        "z": "c79ee600.c17d18",
        "name": "tweet sentiment",
        "func": "var sentiment = require(\"sentiment\");\nvar r = sentiment(msg.payload.value);\n//r.comparative is between -1 and 1, flip it so -1=happy and 1=sad, then shift by 1 so 0=happy,2=sad\nconsole.log(`${msg.payload.value} score: ${r.score} comparitive:${(1 + (-1*r.comparative))/2}`)\n\nvar score = (1 + (-1*r.comparative))/2;\n\nreturn {\n    payload: {\n        tweet: msg.payload.value,\n        sentiment: score,\n    }\n}",
        "outputs": 1,
        "inputtypedef": "",
        "outputtypedef": "{\n    \"name\": \"container object\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"payload\": {\n            \"type\": \"object\",\n            \"properties\":{\n                \"tweet\": {\"type\":\"string\"},\n                \"sentiment\": {\"type\": \"number\"}\n            }\n        }\n    }\n}",
        "noerr": 0,
        "x": 596,
        "y": 432,
        "wires": [
            [
                "20725dad.6e52e2",
                "83cdc5c2.5b13f8"
            ]
        ]
    },
    {
        "id": "20725dad.6e52e2",
        "type": "debugger",
        "z": "c79ee600.c17d18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 754,
        "y": 340,
        "wires": []
    },
    {
        "id": "83cdc5c2.5b13f8",
        "type": "uibuilder",
        "z": "c79ee600.c17d18",
        "name": "",
        "templatesById": {
            "79018062.5d533": {
                "id": "79018062.5d533",
                "label": "background",
                "type": "group",
                "x": -3.0018903591682147,
                "y": -4.948960302457408,
                "width": 1399.1300048828125,
                "height": 840.5890502929688,
                "children": [
                    "12832db6.44ab02",
                    "a49936da.7398c8",
                    "3ab5b12d.bb692e",
                    "4a8ff15e.450c7",
                    "26cb77ee.9d2aa8",
                    "20c35985.6f4606",
                    "643debd2.3ae504",
                    "8ef4e467.db1d48",
                    "af2e3aef.fedf78",
                    "4df46e60.079a4",
                    "fda2d539.506928"
                ],
                "style": {
                    "fill": "none",
                    "stroke": "none",
                    "opacity": 1,
                    "stroke-width": 0
                }
            },
            "12832db6.44ab02": {
                "id": "12832db6.44ab02",
                "label": "rect:12832db6.44ab02",
                "type": "rect",
                "x": 0,
                "y": 4.465000152587891,
                "width": 1399.1300048828125,
                "height": 836,
                "style": {
                    "fill": "rgb(72, 72, 72)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "a49936da.7398c8": {
                "id": "a49936da.7398c8",
                "label": "path:a49936da.7398c8",
                "type": "path",
                "d": "M 470.689,840.589 l 162.946,-652.928 l 0,327.077 l -119.495,325.851 l -43.451,0 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "3ab5b12d.bb692e": {
                "id": "3ab5b12d.bb692e",
                "label": "path:3ab5b12d.bb692e",
                "type": "path",
                "d": "M 435.616,840.589 l 119.253,-782.314 l 78.766,116.442 l 0,20.199 l -161.67,645.673 l -36.349,0 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "4a8ff15e.450c7": {
                "id": "4a8ff15e.450c7",
                "label": "path:4a8ff15e.450c7",
                "type": "path",
                "d": "M 399.186,840.589 l 45.618,-840.589 l 70.646,0 l 41.24,60.966 l -120.355,779.623 l -37.149,0 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "26cb77ee.9d2aa8": {
                "id": "26cb77ee.9d2aa8",
                "label": "path:26cb77ee.9d2aa8",
                "type": "path",
                "d": "M 399.577,840.589 l -40.8,0 l -42.004,-768.923 l 105.946,-71.666 l 23.362,0 l -46.504,840.589 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "20c35985.6f4606": {
                "id": "20c35985.6f4606",
                "label": "path:20c35985.6f4606",
                "type": "path",
                "d": "M 313.617,840.589 l -52.125,0 l -189.136,-602.968 l 122.203,-82.662 l 119.058,685.63 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "643debd2.3ae504": {
                "id": "643debd2.3ae504",
                "label": "path:643debd2.3ae504",
                "type": "path",
                "d": "M 358.777,840.589 l -44.168,0 l -119.259,-686.788 l 121.423,-82.135 l 42.004,768.923 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "8ef4e467.db1d48": {
                "id": "8ef4e467.db1d48",
                "label": "path:8ef4e467.db1d48",
                "type": "path",
                "d": "M 262.646,840.589 l -55.294,0 c -72.932,-156.645 -152.544,-326.141 -202.741,-428.573 l 0,-129.772 c 32.536,-21.836 68.535,-45.781 68.535,-45.781 l 189.5,604.126 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "af2e3aef.fedf78": {
                "id": "af2e3aef.fedf78",
                "label": "path:af2e3aef.fedf78",
                "type": "path",
                "d": "M 390.53,42.365 l 4.847,37.099 l 37.841,7.445 l -34.845,15.484 l 4.847,37.099 l -26.383,-27.53 l -34.846,15.484 l 18.541,-32.498 l -26.383,-27.53 l 37.841,7.445 l 18.54,-32.498 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "4df46e60.079a4": {
                "id": "4df46e60.079a4",
                "label": "path:4df46e60.079a4",
                "type": "path",
                "d": "M 155.885,196.701 l 4.847,37.099 l 37.841,7.445 l -34.845,15.484 l 4.847,37.099 l -26.383,-27.53 l -34.846,15.484 l 18.54,-32.498 l -26.383,-27.53 l 37.842,7.445 l 18.54,-32.498 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "fda2d539.506928": {
                "id": "fda2d539.506928",
                "label": "path:fda2d539.506928",
                "type": "path",
                "d": "M 194.763,336.263 l 4.847,37.099 l 37.842,7.445 l -34.846,15.484 l 4.847,37.099 l -26.383,-27.53 l -34.845,15.484 l 18.54,-32.498 l -26.383,-27.53 l 37.841,7.445 l 18.54,-32.498 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "2f83a267.196a6e": {
                "id": "2f83a267.196a6e",
                "label": "backbluecircle",
                "type": "circle",
                "cx": 689.9660542432194,
                "cy": 345.69973753280834,
                "r": 258,
                "style": {
                    "fill": "#203C51",
                    "stroke": "none",
                    "stroke-width": 1,
                    "opacity": 1
                }
            },
            "f9912491.dafba8": {
                "id": "f9912491.dafba8",
                "label": "pointer",
                "type": "group",
                "x": 606.1571303587051,
                "y": 9.25473315835518,
                "width": 161.9934604484588,
                "height": 670.2619167864323,
                "children": [
                    "7952b266.0d3e4c",
                    "6c454c22.d9b914",
                    "f13123d5.165e6",
                    "a449eb48.2b1168",
                    "1312c4c1.1c3f6b",
                    "571d85a7.eb860c",
                    "b8d39eee.f6bbf",
                    "cf8bbb36.96d8a8",
                    "f6e2d645.4910e8",
                    "5825918d.67fc4",
                    "66a1d3fa.95e6fc",
                    "d9a63e7.945f3c",
                    "36165c31.0a81a4",
                    "74417a31.fa49c4"
                ],
                "style": {
                    "fill": "#203C51",
                    "stroke": "none",
                    "opacity": 1,
                    "stroke-width": 0
                },
                "transform": "rotate(0, 81, 335)"
            },
            "7952b266.0d3e4c": {
                "id": "7952b266.0d3e4c",
                "label": "path:7952b266.0d3e4c",
                "type": "path",
                "d": "M 19.112,46.425 c -0.034,15.544 58.418,46.764 94.325,46.844 c 25.739,0.057 49.231,-37.756 49.106,-46.525 c -0.113,-8 -23.16,-46.687 -48.898,-46.744 c -35.908,-0.08 -94.498,30.88 -94.533,46.425 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "6c454c22.d9b914": {
                "id": "6c454c22.d9b914",
                "label": "path:6c454c22.d9b914",
                "type": "path",
                "d": "M 21.879,39.415 l 32.353,-0.302 l -14.617,-20.794 l -34.179,0.083 l 16.443,21.013 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "f13123d5.165e6": {
                "id": "f13123d5.165e6",
                "label": "path:f13123d5.165e6",
                "type": "path",
                "d": "M 21.858,52.606 l 33.939,1.265 l -17.155,20.979 l -33.772,0.408 l 16.988,-22.652 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "a449eb48.2b1168": {
                "id": "a449eb48.2b1168",
                "label": "path:a449eb48.2b1168",
                "type": "path",
                "d": "M 0.016,43.414 l -0.016,7.004 l 50.689,0.113 l 0.015,-7.004 l -50.688,-0.113 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "1312c4c1.1c3f6b": {
                "id": "1312c4c1.1c3f6b",
                "label": "path:1312c4c1.1c3f6b",
                "type": "path",
                "d": "M 25.648,46.69 c -0.032,14.318 53.805,43.073 86.878,43.147 c 23.706,0.052 45.344,-34.776 45.229,-42.853 c -0.104,-7.368 -21.332,-43 -45.038,-43.053 c -33.073,-0.073 -87.037,28.442 -87.069,42.759 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "571d85a7.eb860c": {
                "id": "571d85a7.eb860c",
                "label": "path:571d85a7.eb860c",
                "type": "path",
                "d": "M 22.012,36.181 l 27.103,0.061 l -12.06,-15.464 l -27.076,-0.06 l 12.033,15.463 Z",
                "style": {
                    "fill": "rgb(1, 58, 87)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "b8d39eee.f6bbf": {
                "id": "b8d39eee.f6bbf",
                "label": "path:b8d39eee.f6bbf",
                "type": "path",
                "d": "M 21.746,57.116 l 27.103,0.061 l -12.128,15.409 l -27.077,-0.06 l 12.102,-15.41 Z",
                "style": {
                    "fill": "rgb(1, 58, 87)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "cf8bbb36.96d8a8": {
                "id": "cf8bbb36.96d8a8",
                "label": "path:cf8bbb36.96d8a8",
                "type": "path",
                "d": "M 2.921,44.99 l -0.007,3.126 l 38.484,0.086 l 0.007,-3.127 l -38.484,-0.085 Z",
                "style": {
                    "fill": "rgb(1, 58, 87)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "f6e2d645.4910e8": {
                "id": "f6e2d645.4910e8",
                "label": "path:f6e2d645.4910e8",
                "type": "path",
                "d": "M 111.346,89.795 c -11.997,-8.649 -20.027,-24.549 -19.987,-42.697 c 0.042,-18.534 8.489,-34.685 20.949,-43.145 c 0.498,-0.012 0.991,-0.017 1.48,-0.016 c 23.707,0.053 44.934,35.685 45.039,43.053 c 0.114,8.077 -21.523,42.905 -45.23,42.853 c -0.74,-0.002 -1.49,-0.018 -2.251,-0.048 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "5825918d.67fc4": {
                "id": "5825918d.67fc4",
                "label": "path:5825918d.67fc4",
                "type": "path",
                "d": "M 157.055,52.324 c -5.065,12.504 -23.726,37.678 -43.884,37.633 c -33.072,-0.073 -86.91,-28.828 -86.878,-43.146 c 0.004,-1.779 0.84,-3.776 2.365,-5.911 c 3.829,14.767 55.584,41.398 87.845,41.47 c 16.832,0.038 32.635,-17.037 40.552,-30.046 Z",
                "style": {
                    "fill": "rgb(1, 58, 87)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "66a1d3fa.95e6fc": {
                "id": "66a1d3fa.95e6fc",
                "label": "path:66a1d3fa.95e6fc",
                "type": "path",
                "d": "M 81.669,87.357 l -6.258,0.068 l 6.341,582.944 l 6.258,-0.068 l -6.341,-582.944 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "d9a63e7.945f3c": {
                "id": "d9a63e7.945f3c",
                "label": "path:d9a63e7.945f3c",
                "type": "path",
                "d": "M 90.513,78.118 c 5.47,6.618 4.539,16.432 -2.08,21.903 c -6.618,5.471 -16.432,4.539 -21.903,-2.079 c -5.471,-6.618 -4.539,-16.433 2.079,-21.904 c 6.618,-5.47 16.433,-4.539 21.904,2.08 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "rgb(255, 255, 255)",
                    "stroke-width": "7px",
                    "opacity": 1
                }
            },
            "36165c31.0a81a4": {
                "id": "36165c31.0a81a4",
                "label": "path:36165c31.0a81a4",
                "type": "path",
                "d": "M 96.14,574.405 c 5.471,6.618 4.539,16.433 -2.079,21.904 c -6.618,5.47 -16.433,4.539 -21.904,-2.08 c -5.47,-6.618 -4.538,-16.432 2.08,-21.903 c 6.618,-5.471 16.433,-4.539 21.903,2.079 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "rgb(255, 255, 255)",
                    "stroke-width": "7px",
                    "opacity": 1
                }
            },
            "74417a31.fa49c4": {
                "id": "74417a31.fa49c4",
                "label": "path:74417a31.fa49c4",
                "type": "path",
                "d": "M 93.55,322.973 c 5.47,6.618 4.539,16.432 -2.08,21.903 c -6.618,5.471 -16.433,4.539 -21.903,-2.079 c -5.471,-6.618 -4.539,-16.433 2.079,-21.904 c 6.618,-5.47 16.433,-4.539 21.904,2.08 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "rgb(255, 255, 255)",
                    "stroke-width": "7px",
                    "opacity": 1
                }
            },
            "3860dd27.bfa842": {
                "id": "3860dd27.bfa842",
                "label": "white circle",
                "type": "circle",
                "cx": 689.1001890359169,
                "cy": 345.75803402646505,
                "r": 220,
                "style": {
                    "fill": "white",
                    "stroke": "#484848",
                    "stroke-width": "15",
                    "opacity": "1"
                }
            },
            "ae9bfc19.b95b3": {
                "id": "ae9bfc19.b95b3",
                "label": "trump",
                "type": "group",
                "x": 552.5243744531932,
                "y": 152.28369203849513,
                "width": 290,
                "height": 407,
                "children": [
                    "c94aa176.be747",
                    "5d9de02b.1b418",
                    "96238804.bedbf8",
                    "d0c4812a.eef6",
                    "acb60ad7.a95658",
                    "41017347.5eb75c",
                    "1b6fd9e3.826d76",
                    "9e63f778.0fbc08",
                    "c5fc386f.8dd8d8",
                    "476524be.de5fdc",
                    "8adfb812.585038",
                    "99fe5976.347898",
                    "e145bfb.5d4564",
                    "a1972160.1272d",
                    "db9c1e8f.d00e7",
                    "2571aae4.ae7146",
                    "fce6ed05.5e62e",
                    "84c71ca9.2f46",
                    "fd3ce8f2.2144c8",
                    "1bebfead.135721",
                    "ec904859.7ac8a8",
                    "933c916f.6fc52"
                ],
                "style": {
                    "fill": "none",
                    "stroke": "none",
                    "opacity": 1,
                    "stroke-width": 0
                }
            },
            "c94aa176.be747": {
                "id": "c94aa176.be747",
                "label": "path:c94aa176.be747",
                "type": "path",
                "d": "M 247.95490773529406,61.8292640384805 c -95.86458261853149,5.741584653100726 -166.45717264004705,5.5206836725389765 -214.59241672520383,0 c -1.637428518413945,3.9191515634663157 -17.69416854299588,199.86200300474474 26.608443529414693,214.46263739912385 c 16.027286560507047,5.282294697682763 39.83028763678757,12.144951827134344 77.26656089673712,12.506677182804207 c 35.566898711945896,0.34331694062304774 73.85916327157226,-2.887359900092493 90.39452208737139,-12.506677182804207 c 39.02952158225122,-22.70309827723348 20.322890211680665,-214.46263739912385 20.322890211680665,-214.46263739912385 Z",
                "style": {
                    "fill": "rgb(253, 153, 114)",
                    "stroke": "rgb(253, 153, 114)",
                    "stroke-width": "2px",
                    "opacity": 1
                }
            },
            "5d9de02b.1b418": {
                "id": "5d9de02b.1b418",
                "label": "path:5d9de02b.1b418",
                "type": "path",
                "d": "M 31.65879219750763,119.63997107224186 l 0,65.10320065455609 c -11.16562414664394,-3.101817935387856 -19.57366771927542,-16.505905351724177 -19.57366771927542,-32.551600327278045 c 0,-16.045694975553857 8.408043572631472,-29.450702812642497 19.57366771927542,-32.551600327278045 Z",
                "style": {
                    "fill": "rgb(255, 126, 97)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "96238804.bedbf8": {
                "id": "96238804.bedbf8",
                "label": "path:96238804.bedbf8",
                "type": "path",
                "d": "M 251.13035933086906,120.36710346659093 l 0,65.10228023380367 c 11.16562414664394,-3.1008975146355144 19.57366771927542,-16.505905351724177 19.57366771927542,-32.551600327278045 c 0,-16.045694975553857 -8.408043572631472,-29.449782391890157 -19.57366771927542,-32.55067990652568 Z",
                "style": {
                    "fill": "rgb(255, 126, 97)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "d0c4812a.eef6": {
                "id": "d0c4812a.eef6",
                "label": "path:d0c4812a.eef6",
                "type": "path",
                "d": "M 37.16751040026616,239.3351673896241 c -8.189903854326747,-12.653024082426368 -53.57861241449927,11.516304453285713 -30.869991612751708,81.04949018885712 c 12.291298726756498,37.6396862462169 37.531997018193046,78.48703881434086 47.91894520835685,78.6775659100754 c 1.8215126688820673,-44.95150870281074 -11.812679935539396,-113.22371800767544 -17.04895359560512,-159.7270560989325 Z",
                "style": {
                    "fill": "rgb(27, 79, 103)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "acb60ad7.a95658": {
                "id": "acb60ad7.a95658",
                "label": "path:acb60ad7.a95658",
                "type": "path",
                "d": "M 244.6828119607231,240.9256544496686 c 22.561353481373025,10.005893998694766 38.03914885273274,25.952183532995843 42.32462787563062,50.893745079921686 l 2.2476674772157694,40.37701756367789 c -10.28017938289227,15.331448471737538 -20.768373855813515,26.171243672052913 -31.413039856632704,33.63493555278288 l -16.434112533041585,12.502075079042504 c -1.8215126688820673,-44.95150870281074 -2.460284671006452,-101.37974376655647 3.27485703682789,-137.407773275425 Z",
                "style": {
                    "fill": "rgb(27, 79, 103)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "41017347.5eb75c": {
                "id": "41017347.5eb75c",
                "label": "path:41017347.5eb75c",
                "type": "path",
                "d": "M 224.25775504553266,284.70270627249266 l 0,104.7420407748567 c 12.072238587699445,-5.4507316953610925 23.819568649822635,-11.972833146446652 33.86872242387743,-24.109501186809933 l 0,-28.415229466259323 l -16.290526895676464,-9.69018968064194 l 16.290526895676464,-7.843825651446679 l 0,-53.36323395845155 c -0.6774296737226889,-7.113011574088233 -7.69287664806282,-13.617625030879326 -13.365429744737991,-18.804195970318666 l -20.503292679139424,37.484135139071356 Z",
                "style": {
                    "fill": "rgb(32, 60, 81)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "1b6fd9e3.826d76": {
                "id": "1b6fd9e3.826d76",
                "label": "path:1b6fd9e3.826d76",
                "type": "path",
                "d": "M 224.4731335015802,286.28582996651886 c 0.9544763201772125,2.1547049812293686 -165.82300274168435,0.6590212586758768 -165.49993505761276,-3.1423164484908437 c 0.01840841504681219,38.47542828934217 0.18316372971578143,-25.896958287855398 0,108.60688751393494 c 52.518287707802855,21.870117496365236 107.70947728040291,21.66854535160264 165.49993505761276,0 l 0,-105.46457106544419 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "9e63f778.0fbc08": {
                "id": "9e63f778.0fbc08",
                "type": "ellipse",
                "label": "ellipse:9e63f778.0fbc08",
                "cx": 99.25909749913312,
                "cy": 133.00908497182235,
                "rx": 9.791435535041966,
                "ry": 10.143037112128706,
                "style": {
                    "fill": "rgb(69, 68, 74)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "c5fc386f.8dd8d8": {
                "id": "c5fc386f.8dd8d8",
                "type": "ellipse",
                "label": "ellipse:c5fc386f.8dd8d8",
                "cx": 180.02509157961856,
                "cy": 133.00908497182235,
                "rx": 9.791435535041966,
                "ry": 10.143037112128706,
                "style": {
                    "fill": "rgb(69, 68, 74)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "476524be.de5fdc": {
                "id": "476524be.de5fdc",
                "label": "path:476524be.de5fdc",
                "type": "path",
                "d": "M 149.55640678556867,131.53180719248255 c 0,-5.1331865358035795 -4.1676651665982805,-9.29993128164953 -9.30085170240186,-9.29993128164953 l -0.9820889427474307,0 c -5.1331865358035795,0 -9.29993128164953,4.166744745845943 -9.29993128164953,9.29993128164953 l 0,9.331225587229104 c 0,5.1331865358035795 4.166744745845943,9.29993128164953 9.29993128164953,9.29993128164953 l 0.9820889427474307,0 c 5.1331865358035795,0 9.30085170240186,-4.166744745845943 9.30085170240186,-9.29993128164953 l 0,-9.331225587229104 Z",
                "style": {
                    "fill": "rgb(255, 123, 92)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "8adfb812.585038": {
                "id": "8adfb812.585038",
                "label": "path:8adfb812.585038",
                "type": "path",
                "d": "M 157.54749975738983,243.08404111390743 c 0.4077463932868902,1.2140349723372639 0.6258861115916151,2.4924993973383702 0.6258861115916151,3.8123827561948085 c 0,7.923902256900312 -7.85947280423647,14.357643315761171 -17.54137869810734,14.357643315761171 c -9.680985473118533,0 -17.540458277355004,-6.433741058860862 -17.540458277355004,-14.357643315761171 c 0,-1.3198833588564352 0.2172192975523841,-2.598347783857544 0.6258861115916151,-3.8123827561948085 l 33.830064752279114,0 Z",
                "style": {
                    "fill": "rgb(244, 134, 113)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "99fe5976.347898": {
                "id": "99fe5976.347898",
                "label": "path:99fe5976.347898",
                "type": "path",
                "d": "M 57.2833059426702,64.7838146534938 c 0,-3.691807637638186 -5.839149252848829,-6.6905384487639 -9.530956890487015,-6.6905384487639 l -13.3810768975278,0 c -3.6927280583905273,0 -6.6905384487639,2.9987308111257063 -6.6905384487639,6.6905384487639 c -3.6062085076705115,27.44050388953062 -5.146992847088693,54.72637709266799 -5.526206197053022,81.92757158659 c 0,3.6927280583905273 8.524016587426386,8.673124749305567 12.216744645816913,8.673124749305567 l 6.670289192212404,0 c 3.6927280583905273,0 11.125125633540952,-2.997810390373368 11.125125633540952,-6.6905384487639 c 0.7547450169193001,-27.906236790214958 2.3369482901928067,-55.86861924632266 5.1166189622614535,-83.9101578871317 Z",
                "style": {
                    "fill": "rgb(244, 195, 86)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "e145bfb.5d4564": {
                "id": "e145bfb.5d4564",
                "label": "path:e145bfb.5d4564",
                "type": "path",
                "d": "M 223.24069011419638,70.15723100565836 c 5.043905722826542,-0.33871483686134446 27.272987312604627,-29.801383119284257 24.778647073761558,-40.70744861376815 c 1.8104676198539793,3.2371197859819247 2.3130173506319522,8.284707191817832 2.770466464545237,13.178584332012846 c 0.0009204207523406105,0.007363366018724884 6.48068251723024,75.88408892672153 6.860816287946906,103.08436299989134 c 0,3.6927280583905273 -8.524937008178732,8.673124749305567 -12.217665066569255,8.673124749305567 l -6.670289192212404,0 c -3.6927280583905273,0 -11.124205212788606,-2.997810390373368 -11.124205212788606,-6.6905384487639 c -0.7547450169193001,-27.906236790214958 -1.6190201033671328,-49.4956259571163 -4.397770354683435,-77.53808501867769 Z",
                "style": {
                    "fill": "rgb(244, 195, 86)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "a1972160.1272d": {
                "id": "a1972160.1272d",
                "label": "path:a1972160.1272d",
                "type": "path",
                "d": "M 112.52143697363954,116.12028211529136 c 0.627726953096296,-2.742853841975019 -1.089778170771282,-5.480185159435992 -3.833552433498639,-6.107912112532287 l -23.872032632706063,-5.46085632363684 c -2.742853841975019,-0.627726953096296 -5.480185159435992,1.0906985915236236 -6.107912112532287,3.833552433498639 l -0.3479190443847507,1.522375924371369 c -0.627726953096296,2.7437742627273574 1.089778170771282,5.480185159435992 3.833552433498639,6.107912112532287 l 23.872032632706063,5.46085632363684 c 2.7437742627273574,0.627726953096296 5.480185159435992,-1.089778170771282 6.107912112532287,-3.833552433498639 l 0.3479190443847507,-1.522375924371369 Z",
                "style": {
                    "fill": "rgb(244, 195, 86)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "db9c1e8f.d00e7": {
                "id": "db9c1e8f.d00e7",
                "type": "group",
                "label": "group:db9c1e8f.d00e7",
                "x": 0,
                "y": 0,
                "width": 97.34851097711606,
                "height": 65.05766342208541,
                "style": {
                    "fill": "",
                    "stroke": "",
                    "stroke-width": 0,
                    "opacity": 1
                },
                "children": [
                    "34839b9d.0d48b4",
                    "1a425036.ac749",
                    "36c3f49b.62b75c",
                    "d6aed547.ee5788",
                    "a8273dec.35e3c"
                ]
            },
            "34839b9d.0d48b4": {
                "id": "34839b9d.0d48b4",
                "label": "path:34839b9d.0d48b4",
                "type": "path",
                "d": "M 141.22751939763853,164.92559250815225 c 27.35766602181996,1.238886332650461 38.250845625771056,12.312468404060338 42.1120106818399,28.398661892717183 c 3.717579418703724,15.491601682644804 -10.663074415865976,28.214577742249055 -42.1120106818399,28.39958231346952 c -34.00310385371915,0.20065172401025314 -47.490949558518466,-10.737628496805556 -45.30034816794781,-28.39958231346952 c 1.8067859368446177,-14.565658405790147 11.30828936325673,-29.38351209772163 40.41659565602853,-28.236667840305223 c 1.593248322301595,0.06258861115916144 3.220552212439792,-0.23746855410387724 4.883752511919279,-0.16199405241194725 Z",
                "style": {
                    "fill": "rgb(238, 74, 90)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "1a425036.ac749": {
                "id": "1a425036.ac749",
                "label": "path:1a425036.ac749",
                "type": "path",
                "d": "M 118.39648263582968,210.17531753472127 c -0.20157214476259364,-0.7722330112137719 -0.30650011052942333,-1.5665561204837182 -0.30650011052942333,-2.3765263825434544 c 0,-7.746261051698575 9.606431392178948,-14.03549605244196 21.44028100502215,-14.03549605244196 c 11.832929192090878,0 21.44028100502215,6.289235000743387 21.44028100502215,14.03549605244196 c 0,0.8099702620597373 -0.10492796576682956,1.604293371329683 -0.30650011052942333,2.3765263825434544 c -13.759369826739782,3.1459981315002064 -27.857454490340917,3.0613194222848676 -42.267561788985496,0 Z",
                "style": {
                    "fill": "rgb(255, 126, 97)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "36c3f49b.62b75c": {
                "id": "36c3f49b.62b75c",
                "label": "path:36c3f49b.62b75c",
                "type": "path",
                "d": "M 164.48839265079053,208.56089953511596 c 0,-2.2283386414166166 -1.8086267783492984,-4.037885840518254 -4.036965419765915,-4.037885840518254 l -41.79538594303479,0 c -2.2283386414166166,0 -4.037885840518254,1.80954719910164 -4.037885840518254,4.037885840518254 l 0,1.5527498091986105 c 0,2.2283386414166166 1.80954719910164,4.036965419765915 4.037885840518254,4.036965419765915 l 41.79538594303479,0 c 2.2283386414166166,0 4.036965419765915,-1.8086267783492984 4.036965419765915,-4.036965419765915 l 0,-1.5527498091986105 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "d6aed547.ee5788": {
                "id": "d6aed547.ee5788",
                "label": "path:d6aed547.ee5788",
                "type": "path",
                "d": "M 162.86385002290913,171.4136383914012 c 0,-3.298787976388744 -2.6775039685588324,-5.976291944947574 -5.976291944947574,-5.976291944947574 l -36.45050263419284,0 c -3.297867555636404,0 -5.976291944947574,2.6775039685588324 -5.976291944947574,5.976291944947574 l 0,2.1629887680004343 c 0,3.298787976388744 2.6784243893111754,5.976291944947574 5.976291944947574,5.976291944947574 l 36.45050263419284,0 c 3.298787976388744,0 5.976291944947574,-2.6775039685588324 5.976291944947574,-5.976291944947574 l 0,-2.1629887680004343 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "a8273dec.35e3c": {
                "id": "a8273dec.35e3c",
                "label": "path:a8273dec.35e3c",
                "type": "path",
                "d": "M 142.25654979875546,162.75800163639002 c 27.35766602181996,1.238886332650461 38.250845625771056,12.311547983307996 42.1120106818399,28.398661892717183 c 3.717579418703724,15.491601682644804 -10.663074415865976,28.213657321496715 -42.1120106818399,28.39958231346952 c -34.00310385371915,0.1997313032579124 -47.490949558518466,-10.737628496805556 -45.30034816794781,-28.39958231346952 c 1.8067859368446177,-14.565658405790147 11.30828936325673,-29.384432518473997 40.41659565602853,-28.237588261057574 c 1.593248322301595,0.06350903191150206 3.2214726331921346,-0.2365481333515368 4.883752511919279,-0.1610736316596069 Z",
                "style": {
                    "fill": "none",
                    "stroke": "rgb(255, 126, 97)",
                    "stroke-width": "9px",
                    "opacity": 1
                }
            },
            "2571aae4.ae7146": {
                "id": "2571aae4.ae7146",
                "label": "path:2571aae4.ae7146",
                "type": "path",
                "d": "M 166.0190523619328,116.01075204576286 c -0.627726953096296,-2.742853841975019 1.089778170771282,-5.480185159435992 3.832632012746301,-6.107912112532287 l 23.8729530534584,-5.46085632363684 c 2.742853841975019,-0.627726953096296 5.4792647386836535,1.0906985915236236 6.106991691779948,3.833552433498639 l 0.34883946513709113,1.522375924371369 c 0.6268065323439553,2.7437742627273574 -1.0906985915236236,5.480185159435992 -3.833552433498639,6.107912112532287 l -23.8729530534584,5.46085632363684 c -2.742853841975019,0.627726953096296 -5.4792647386836535,-1.089778170771282 -6.106991691779948,-3.833552433498639 l -0.3479190443847507,-1.522375924371369 Z",
                "style": {
                    "fill": "rgb(244, 195, 86)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "fce6ed05.5e62e": {
                "id": "fce6ed05.5e62e",
                "label": "path:fce6ed05.5e62e",
                "type": "path",
                "d": "M 35.49234463100624,230.68413273837484 c 6.095026221999519,25.06029582397777 27.596975417428517,43.55615084226234 50.491521211148815,49.9411096012492 c 27.453389780063358,7.655139397216864 86.56096965387272,7.067910957223541 113.55598989927044,0 c 22.541104224821535,-5.901737864007991 40.045666092835276,-22.894545793720344 47.62072888459848,-49.9411096012492 c -2.0681854305093497,27.245374690034378 -18.702949687561205,51.757099745617204 -41.670208720716445,58.76058125017689 c -29.13223723233262,8.882980680839232 -104.96202133466613,3.744271620521599 -133.11953299027002,-5.463617585893862 c -17.572673003686916,-5.745266336110086 -36.20935239707964,-19.163160063731503 -36.87849828403124,-53.29696366428303 Z",
                "style": {
                    "fill": "rgb(254, 139, 102)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "84c71ca9.2f46": {
                "id": "84c71ca9.2f46",
                "label": "path:84c71ca9.2f46",
                "type": "path",
                "d": "M 131.705766714675,291.7310391373656 c 0,0 -7.367047701734239,4.977635428658019 -6.484364200239597,8.403441468869769 c 0.971043893719343,3.7691229808347972 12.312468404060338,14.207614733129661 12.312468404060338,14.207614733129661 l -8.80198365463326,70.12593670007874 c 0,0 10.62165548201064,14.050222784479407 16.03649076803045,14.393539725102457 c 5.414835286019807,0.34331694062304774 16.45528221034542,-12.335478922868857 16.45528221034542,-12.335478922868857 l -5.318191107024042,-72.18399750231231 c 0,0 11.074502492162214,-10.438491752294858 11.960867676666226,-14.207614733129661 c 0.8173336280784613,-3.4755087608381454 -6.642676569642183,-8.403441468869769 -6.642676569642183,-8.403441468869769 l -29.517893527563352,0 Z",
                "style": {
                    "fill": "rgb(25, 118, 211)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "fd3ce8f2.2144c8": {
                "id": "fd3ce8f2.2144c8",
                "label": "path:fd3ce8f2.2144c8",
                "type": "path",
                "d": "M 59.32019706759998,284.0492075383308 l 0,104.7420407748567 c -12.071318166947092,-5.449811274608753 -18.08994946650236,-11.971912725694317 -28.140023661309467,-24.108580766057585 l -5.728698762567958,-28.416149887011663 c 15.487919999635452,-6.784421365502638 13.830242224670004,-7.509712918347042 16.291447316428787,-9.69018968064194 l -16.291447316428787,-7.84290523069434 l -6.694220131773259,-53.36323395845155 c 0.6783500944750296,-7.113011574088233 13.501652016084408,-13.211719479097114 19.17420511275959,-18.398290418536444 l 21.388737442891106,37.0773091665368 Z",
                "style": {
                    "fill": "rgb(32, 60, 81)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "1bebfead.135721": {
                "id": "1bebfead.135721",
                "label": "path:1bebfead.135721",
                "type": "path",
                "d": "M 9.679144631613857,15.463068639322248 c 8.10798640736843,5.476503476426631 20.306322638138543,9.862308361329633 29.58416382173189,8.179779226051004 c 39.33049916826659,-17.06736201065191 95.7228378226711,-26.296420894371213 130.95102169775564,-22.970940716164595 c 28.910415831018565,2.729967951442247 75.94667753788077,12.397147113275674 79.63940559627142,34.17338169290217 c 4.192516526911482,24.723421828621127 -23.391572999984277,43.24412820721889 -102.45939730905208,51.92829800555255 c -51.69819281746739,4.807357589475006 -91.6996787141903,-4.925171445774602 -118.03567770091219,-31.644985886222518 c -9.745414925782379,-12.41647594907483 -19.42916166115793,-26.393065073366994 -19.67951610579459,-39.66553232211856 Z",
                "style": {
                    "fill": "rgb(255, 230, 169)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "ec904859.7ac8a8": {
                "id": "ec904859.7ac8a8",
                "label": "path:ec904859.7ac8a8",
                "type": "path",
                "d": "M 8.93912634673201,20.84200751600077 c 8.10798640736843,5.476503476426631 16.59334532319651,8.642750864478325 25.87210692754221,6.961142149952038 c 39.35811179083684,-16.75533937560848 95.460517908254,-23.171592440174855 129.73146420090438,-21.221220865965105 c 27.53162554401233,1.5665561204837182 72.20148549660681,11.147215731597132 75.89421355499734,32.92252989047127 c 4.191596106159137,24.723421828621127 -18.426823461859012,42.74526015945027 -97.4946477709268,51.42942995778394 c -51.69819281746739,4.807357589475006 -91.6996787141903,-4.925171445774602 -118.03567770091219,-31.645906306974858 c -9.745414925782379,-12.41647594907483 -15.717104766968264,-25.173507576515696 -15.967459211604906,-38.4459748252673 Z",
                "style": {
                    "fill": "rgb(255, 201, 92)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "933c916f.6fc52": {
                "id": "933c916f.6fc52",
                "label": "path:933c916f.6fc52",
                "type": "path",
                "d": "M 28.355402117357183,62.3778348068755 c -0.36724788018390353,-0.7409387056341908 6.290155421495732,5.774719800184986 14.307940595134784,10.944723166082195 c 4.6140692314834775,2.9757202923171926 8.403441468869769,4.489812429917495 12.967807979726853,6.709867284563048 c 13.077338049255381,6.3610278194259555 27.856534069588573,9.961713802582416 45.53689630129934,11.219928971032036 c 22.864171908893088,1.6282243108905403 50.579881603373494,-0.18684541272514385 73.98802217689996,-4.638000171044332 c 26.073679072304806,-4.9592270136112075 37.74921631574545,-10.153161319069271 48.4978898615791,-15.648073210542707 c 6.997958980045659,-3.57767546434795 15.995071834175128,-17.324159400554965 15.995071834175128,-17.324159400554965 c 0,0 -1.8804195970318673,16.027286560507047 -9.092836612372889,21.603195478186443 c -13.98671375256791,10.814023419249837 -52.642544509368875,22.516252864508353 -81.00162830973535,24.717899304107075 c -28.412468204002277,2.2044077018557613 -72.08367164030716,-3.2214726331921346 -92.05864280760309,-11.052412394106044 c -10.924473909530706,-4.283638181393196 -28.368288007889944,-24.977457956267145 -29.14052101910372,-26.532969027722764 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "222282b8.b7396e": {
                "id": "222282b8.b7396e",
                "label": "trump arm",
                "type": "group",
                "x": 383.42521916411823,
                "y": 398.73304791029557,
                "width": 199,
                "height": 174,
                "children": [
                    "14f7740b.2ad1cc"
                ],
                "style": {
                    "fill": "none",
                    "stroke": "none",
                    "opacity": 1,
                    "stroke-width": 0
                }
            },
            "14f7740b.2ad1cc": {
                "id": "14f7740b.2ad1cc",
                "type": "group",
                "label": "group:14f7740b.2ad1cc",
                "x": 0,
                "y": 0,
                "width": 197.30427267309966,
                "height": 173.30311625872298,
                "style": {
                    "fill": "",
                    "stroke": "",
                    "stroke-width": 0,
                    "opacity": 1
                },
                "children": [
                    "5c63b5b4.9e4d1c",
                    "e4f36e3a.02574",
                    "6ef3b60e.d1b578",
                    "db51339d.32b02",
                    "e3a9ef27.969ab",
                    "678ae0f.122c12",
                    "92e68f52.53208",
                    "5aa956dc.d0bfb8"
                ]
            },
            "5c63b5b4.9e4d1c": {
                "id": "5c63b5b4.9e4d1c",
                "label": "path:5c63b5b4.9e4d1c",
                "type": "path",
                "d": "M 17.246199940708472,123.56548872282853 c 0,0 -7.759467905200872,32.194145250442 -7.517922486895669,40.30521181187411 c 0.12148734056770569,4.085547800150432 5.824960664513934,7.189192035947758 8.966480365311781,8.363331450963878 c 5.081743992805616,1.8980610385166259 15.005830454356966,-1.0748056483166433 17.31551918797357,-10.792363630902889 c 1.8930586186108955,-7.964567121335761 3.589593598068151,-21.0358903350058 3.589593598068151,-21.0358903350058 c -0.6996241553869637,2.9114083851343104 0.3701790730239504,0.6274463824614445 3.857580378732209,4.612945784497295 c 5.1088999865795754,2.9249863820212894 5.163926605542596,-0.2108162674557245 9.26662555965553,-2.5440878377707774 c 2.4440394396561955,2.624841187677546 5.212521541769675,4.091979482886369 8.825697976536263,2.5440878377707774 c 5.833536241495185,-1.2348830852999726 15.260239238134037,-10.905275394489344 17.893656002792838,-17.106132183348066 c 2.4569028051280717,-5.7849413052681005 1.6329327835129845,-12.026532084787759 -6.76255708113058,-13.723067064245006 c 9.152284533238861,2.5576658346577563 14.445559424915315,-20.81649849056882 6.016481883761849,-32.77371132809147 c -6.142971644235283,-8.714215475780021 -38.928831706383505,-14.589914970766344 -50.962510105322316,-14.68996336888093 c -9.336659438335735,-0.07789482424635251 -27.122406097447843,26.581430116213998 -27.711262383493658,37.11581180626428 c -0.4973834649124891,8.896446486631577 6.903339469906098,19.014912693091244 17.222617104010034,19.72382705687457 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "e4f36e3a.02574": {
                "id": "e4f36e3a.02574",
                "label": "path:e4f36e3a.02574",
                "type": "path",
                "d": "M 53.85390881083371,142.97344869422707 c 5.014568639785828,-4.881647196576456 15.997738858521517,-18.716196761577717 16.02060706380485,-26.890865518954097 c 2.0045411193671434,-4.173447464208242 1.7351250758728791,-8.633462125873246 -4.286359227794696,-13.816683779623652 c -4.848059520066562,-1.8558977850254796 -11.168974386662777,0.6203000683104031 -16.62161208390745,6.683232994054017",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "6ef3b60e.d1b578": {
                "id": "6ef3b60e.d1b578",
                "label": "path:6ef3b60e.d1b578",
                "type": "path",
                "d": "M 32.89519866865918,124.41804400104787 c 4.402844148456674,1.8766220960635007 9.824038063436763,3.309458083347323 13.638740557262722,3.93190204590304 c 3.9218972060915793,0.6395951165182152 8.785678617290435,-4.349246792323861 9.017933827199279,-8.88787090965032 c 0.16365059405885052,-3.1779659029681575 -3.160814749005661,-6.612484483958709 -6.801147177546203,-10.079161478628942 c -2.7220310601317115,-2.5919681425827554 -6.127964384518092,-4.711564919781669 -10.032710436647179,-5.165355868372804 c 2.3997322919197406,-0.9211598940692506 3.4509551035379453,-2.22250370097391 1.2777609702062216,-4.434287930721255",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "db51339d.32b02": {
                "id": "db51339d.32b02",
                "label": "path:db51339d.32b02",
                "type": "path",
                "d": "M 31.908292684400347,77.06585180483164 c 30.805616410894633,-97.73513622388899 81.18927506998259,-86.99708458053401 165.10272509434216,-52.2338393927926 c 4.47144876430667,1.852324627949959 -21.30530637850006,23.836530850798965 -11.926483686673176,37.22157725569969 c -55.172403771700885,-27.428268343112425 -89.7934373078366,-35.60222246907369 -116.70788566348905,24.49256248986455 l -36.46835574417994,-9.480300352771671 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "e3a9ef27.969ab": {
                "id": "e3a9ef27.969ab",
                "label": "path:e3a9ef27.969ab",
                "type": "path",
                "d": "M 37.81757985589657,62.81895991331533 l 15.020123082659051,6.312339289614967 l 0.3694644416088459,6.788998443489433 l 6.556028602165481,-7.166323830664431 l 12.411718417528895,6.1336814358389296 l -2.8971157568322288,12.155880370921604 l -37.37808153560751,-9.962676557966978 l 5.917862748477477,-14.261899151233541 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "678ae0f.122c12": {
                "id": "678ae0f.122c12",
                "type": "group",
                "label": "group:678ae0f.122c12",
                "x": 0,
                "y": 0,
                "width": 76.42634575008226,
                "height": 101.12989204821034,
                "style": {
                    "fill": "",
                    "stroke": "",
                    "stroke-width": 0,
                    "opacity": 1
                },
                "children": [
                    "d773ae9a.e60b7",
                    "7642454.d29c7bc",
                    "aaf23d13.19979"
                ]
            },
            "d773ae9a.e60b7": {
                "id": "d773ae9a.e60b7",
                "label": "path:d773ae9a.e60b7",
                "type": "path",
                "d": "M 21.507547068974528,121.15932474817285 c 0,0 -7.720877808785248,33.6427031288581 -8.056039942469095,41.64157255811888 c -0.122916603397914,2.9199839621155625 3.3037410320264917,5.330435725261862 6.040779351875387,6.3530732802759005 c 4.428570879400423,1.6543717259661097 12.238062983658583,-6.0029038868748685 14.250465048591872,-14.470571524443947 c 1.6500839374754843,-6.9405003034915165 3.5588644472186735,-24.45111386778852 3.5588644472186735,-24.45111386778852 c -0.6095805970838407,2.5369415236197357 -0.9397403108619586,5.144631557334784 2.0995870975759967,8.617740234740959 c 4.451439084683756,2.5490902576765073 8.183958965772739,1.3385046404900742 11.7585453041237,-0.694621735481235 c 2.129601617010369,2.287535159748387 4.542197274401985,3.5660107613697156 7.690863289350872,2.216786649653077 c 5.083173255635828,-1.0755202797317471 13.29786137225804,-9.502453926639898 15.592542846157471,-14.905782056242373 c 2.1403210882369312,-5.041010002144679 1.4228311474723643,-10.47935507108727 -5.89285064894883,-11.957927468937756 c 7.975286592562324,2.2289353837098473 12.58751774564452,-18.139489209588668 5.242536061204052,-28.558815241807178 c -5.3525892991300905,-7.5929587854816 -33.92212401216384,-12.713292874702846 -44.40862539740213,-12.800477907345549 c -8.135364029545656,-0.06788998443489436 -23.633575528909365,23.16263342635574 -24.14668088495416,32.342073953368576 c -0.4337812689682198,7.752321591049833 7.277806331420673,16.04990695182413 16.2700134276762,16.66806312588923 Z",
                "style": {
                    "fill": "rgb(253, 153, 114)",
                    "stroke": "rgb(255, 126, 97)",
                    "stroke-width": "5.5px",
                    "opacity": 1
                }
            },
            "7642454.d29c7bc": {
                "id": "7642454.d29c7bc",
                "label": "path:7642454.d29c7bc",
                "type": "path",
                "d": "M 52.5411309012874,137.26425831896003 c 4.36925647194678,-4.25420081411501 13.94031501443667,-16.30860352409183 13.959610062644487,-23.432049469850003 c 1.747273809929649,-3.636759271465023 1.5121600743603827,-7.522924906801396 -3.734663775334293,-12.040110081674737 c -4.224900926095743,-1.6172108923806936 -9.732565242303428,0.5402613498187383 -14.484149521330929,5.8242460330988335",
                "style": {
                    "fill": "rgb(253, 153, 114)",
                    "stroke": "rgb(255, 126, 97)",
                    "stroke-width": "5.5px",
                    "opacity": 1
                }
            },
            "aaf23d13.19979": {
                "id": "aaf23d13.19979",
                "label": "path:aaf23d13.19979",
                "type": "path",
                "d": "M 34.277295825470596,121.09572255222858 c 3.8368560676941854,1.6343620463431927 8.560569721532623,2.883537759945248 11.88503506459714,3.425943004009297 c 3.4173674270280507,0.5574125037812381 7.655846350010773,-3.7904050257124187 7.858801671900355,-7.7444606454836835 c 0.14149702019062194,-2.76991136494369 -2.7549041052265015,-5.762787731399873 -5.927152956873831,-8.783534723045118 c -2.371861666730676,-2.2582352717291183 -5.339725933658216,-4.104842848358242 -8.742086100969079,-4.501463283741047 c 2.0910115205947455,-0.8018164477468579 3.0071689947582674,-1.9359365035171463 1.1133957447322675,-3.863297430053041",
                "style": {
                    "fill": "rgb(253, 153, 114)",
                    "stroke": "rgb(255, 126, 97)",
                    "stroke-width": "5.5px",
                    "opacity": 1
                }
            },
            "92e68f52.53208": {
                "id": "92e68f52.53208",
                "label": "path:92e68f52.53208",
                "type": "path",
                "d": "M 33.82779266537008,79.93581156788994 c 26.525688865835875,-89.68338406991052 84.30363877700648,-89.39181445254808 157.7198679449012,-54.92299740782955 c 3.816846388071269,1.7922955890812111 -19.30862620469905,20.099008549804243 -11.136815972983095,31.762507875719095 c -55.436102763874295,-31.723203147888356 -97.62937077445359,-27.621218825190553 -114.80482220506674,31.421628690714424 l -31.77822976685136,-8.261139158603985 Z",
                "style": {
                    "fill": "rgb(27, 79, 103)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "5aa956dc.d0bfb8": {
                "id": "5aa956dc.d0bfb8",
                "label": "path:5aa956dc.d0bfb8",
                "type": "path",
                "d": "M 38.56722821034083,67.4183277009256 l 13.088474367632529,5.500518002056651 l 0.32158413679686804,5.916433485647263 l 5.712763532342581,-6.2444493051800745 l 10.815946467601322,5.344013722148841 l -2.5247927895629645,10.592266834673728 l -32.570756006201876,-8.681342430685225 l 5.156780291391554,-12.427440308661183 Z",
                "style": {
                    "fill": "rgb(32, 60, 81)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "74915d2e.9a5fb4": {
                "id": "74915d2e.9a5fb4",
                "label": "textgreenback",
                "type": "rect",
                "x": -9.244864391951182,
                "y": 649.4052668416447,
                "rx": 0,
                "ry": 0,
                "width": 1360,
                "height": 120,
                "style": {
                    "fill": "#25A8A5",
                    "stroke": "none",
                    "stroke-width": "1",
                    "opacity": 1
                }
            },
            "bf9a30df.6abc5": {
                "id": "bf9a30df.6abc5",
                "label": "tweet",
                "type": "text",
                "x": 688.7202268431001,
                "y": 717.6389413988658,
                "text": "trump latest tweet",
                "style": {
                    "fill": "white",
                    "stroke": "none",
                    "stroke-width": 1,
                    "opacity": 1,
                    "text-decoration": "none",
                    "font-weight": "normal",
                    "font-size": 30,
                    "font-style": "normal",
                    "font-family": "\"Palatino Linotype\", \"Book Antiqua\", Palatino, serif"
                }
            },
            "734b47e5.3aa8f8": {
                "id": "734b47e5.3aa8f8",
                "label": "button",
                "type": "group",
                "x": 358.79154855643037,
                "y": 572.3250393700787,
                "width": 83.40425531914893,
                "height": 40,
                "children": [
                    "8f4b7289.86e87"
                ],
                "style": {
                    "fill": "none",
                    "stroke": "none",
                    "opacity": 1,
                    "stroke-width": 0
                }
            },
            "8f4b7289.86e87": {
                "id": "8f4b7289.86e87",
                "type": "group",
                "label": "group:8f4b7289.86e87",
                "x": 0,
                "y": 0,
                "width": 83.78591899229316,
                "height": 40.48086410697758,
                "style": {
                    "fill": "",
                    "stroke": "",
                    "stroke-width": 0,
                    "opacity": 1
                },
                "children": [
                    "4f271afb.a3f6e4",
                    "8c361f93.f51a4",
                    "68ad2632.a727c8"
                ]
            },
            "4f271afb.a3f6e4": {
                "id": "4f271afb.a3f6e4",
                "label": "path:4f271afb.a3f6e4",
                "type": "path",
                "d": "M 2.107850843307658,8.963348276959909 c 0,0 52.82427511572141,5.8897185018094715 79.18697399016636,0 l 0,21.41039912949557 c -26.33203922581502,9.796524228478251 -54.091285095353236,10.536188251675298 -79.18697399016636,0 l 0,-21.41039912949557 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "rgb(255, 255, 255)",
                    "stroke-width": "5.5px",
                    "opacity": 1
                }
            },
            "8c361f93.f51a4": {
                "id": "8c361f93.f51a4",
                "type": "ellipse",
                "label": "ellipse:8c361f93.f51a4",
                "cx": 41.8473549296029,
                "cy": 8.692776573711862,
                "rx": 39.41221084011759,
                "ry": 6.584925730404202,
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "rgb(255, 255, 255)",
                    "stroke-width": "5.5px",
                    "opacity": 1
                }
            },
            "68ad2632.a727c8": {
                "id": "68ad2632.a727c8",
                "type": "group",
                "label": "group:68ad2632.a727c8",
                "x": 0,
                "y": 0,
                "width": 75.55610318306758,
                "height": 35.74114045408887,
                "style": {
                    "fill": "",
                    "stroke": "",
                    "stroke-width": 0,
                    "opacity": 1
                },
                "children": [
                    "73a55a2.df6a3a4",
                    "6531388a.9870c8"
                ]
            },
            "73a55a2.df6a3a4": {
                "id": "73a55a2.df6a3a4",
                "label": "path:73a55a2.df6a3a4",
                "type": "path",
                "d": "M 6.072143411157551,11.432216482884984 c 23.055289278491298,4.535328523582332 46.72913696809139,4.37053291219646 70.95715780667749,0 l 0,18.206465847667932 c -24.199660663603403,7.269402690156301 -47.89343712481299,7.81821040063204 -70.95715780667749,0 l 0,-15.191089404914356",
                "style": {
                    "fill": "rgb(190, 93, 79)",
                    "stroke": "rgb(32, 60, 81)",
                    "stroke-width": "5.5px",
                    "opacity": 1
                }
            },
            "6531388a.9870c8": {
                "id": "6531388a.9870c8",
                "type": "ellipse",
                "label": "ellipse:6531388a.9870c8",
                "cx": 41.53155858383236,
                "cy": 9.598003243361873,
                "rx": 35.459417418254546,
                "ry": 5.461249912206206,
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "rgb(32, 60, 81)",
                    "stroke-width": "5.5px",
                    "opacity": 1
                }
            }
        },
        "templates": [
            "79018062.5d533",
            "74915d2e.9a5fb4",
            "2f83a267.196a6e",
            "bf9a30df.6abc5",
            "f9912491.dafba8",
            "3860dd27.bfa842",
            "222282b8.b7396e",
            "ae9bfc19.b95b3",
            "734b47e5.3aa8f8"
        ],
        "mappings": [
            {
                "mappingId": "65ac3b29.9bc394",
                "ttype": "attribute",
                "from": {
                    "sourceId": "2a94594a.6562d6",
                    "key": "tweet",
                    "path": [
                        "payload"
                    ],
                    "type": "string"
                },
                "to": {
                    "path": [
                        "bf9a30df.6abc5"
                    ],
                    "type": "text",
                    "property": "text"
                }
            },
            {
                "mappingId": "3d3a39ba.9cc6b6",
                "ttype": "transform",
                "from": {
                    "sourceId": "2a94594a.6562d6",
                    "key": "sentiment",
                    "path": [
                        "payload"
                    ],
                    "type": "number"
                },
                "to": {
                    "path": [
                        "f9912491.dafba8"
                    ],
                    "type": "group",
                    "property": "rotate"
                }
            },
            {
                "mappingId": "d2035481.b7e228",
                "ttype": "transform",
                "from": {
                    "sourceId": "2a94594a.6562d6",
                    "key": "sentiment",
                    "path": [
                        "payload"
                    ],
                    "type": "number"
                },
                "to": {
                    "path": [
                        "222282b8.b7396e"
                    ],
                    "type": "group",
                    "property": "rotate"
                }
            }
        ],
        "transformers": {
            "3d3a39ba.9cc6b6": "return `rotate(${sentiment/10*360})`",
            "d2035481.b7e228": "console.log(sentiment);\nreturn `rotate(${37-(sentiment/10*37)})`"
        },
        "canvasdimensions": {
            "w": 1348,
            "h": 782.5888888888888
        },
        "tree": {
            "65ac3b29.9bc394": {
                "node": {
                    "nid": "83cdc5c2.5b13f8",
                    "type": "uibuilder",
                    "category": "processors",
                    "color": "#002255",
                    "unicode": "f03e"
                },
                "parents": [
                    {
                        "node": {
                            "nid": "2a94594a.6562d6",
                            "type": "dbfunction",
                            "category": "processors",
                            "color": "#002255",
                            "unicode": "f121"
                        },
                        "parents": [
                            {
                                "node": {
                                    "nid": "9a35d69d.adeb08",
                                    "type": "twitter",
                                    "category": "datastores",
                                    "color": "#ffcc00",
                                    "unicode": "f099"
                                },
                                "parents": []
                            }
                        ]
                    }
                ]
            },
            "3d3a39ba.9cc6b6": {
                "node": {
                    "nid": "83cdc5c2.5b13f8",
                    "type": "uibuilder",
                    "category": "processors",
                    "color": "#002255",
                    "unicode": "f03e"
                },
                "parents": [
                    {
                        "node": {
                            "nid": "2a94594a.6562d6",
                            "type": "dbfunction",
                            "category": "processors",
                            "color": "#002255",
                            "unicode": "f121"
                        },
                        "parents": [
                            {
                                "node": {
                                    "nid": "9a35d69d.adeb08",
                                    "type": "twitter",
                                    "category": "datastores",
                                    "color": "#ffcc00",
                                    "unicode": "f099"
                                },
                                "parents": []
                            }
                        ]
                    }
                ]
            },
            "d2035481.b7e228": {
                "node": {
                    "nid": "83cdc5c2.5b13f8",
                    "type": "uibuilder",
                    "category": "processors",
                    "color": "#002255",
                    "unicode": "f03e"
                },
                "parents": [
                    {
                        "node": {
                            "nid": "2a94594a.6562d6",
                            "type": "dbfunction",
                            "category": "processors",
                            "color": "#002255",
                            "unicode": "f121"
                        },
                        "parents": [
                            {
                                "node": {
                                    "nid": "9a35d69d.adeb08",
                                    "type": "twitter",
                                    "category": "datastores",
                                    "color": "#ffcc00",
                                    "unicode": "f099"
                                },
                                "parents": []
                            }
                        ]
                    }
                ]
            }
        },
        "x": 760,
        "y": 487,
        "wires": [
            [
                "3b8495a.c860f6a"
            ]
        ]
    }
]