flows.json
[
    {
        "id": "c79ee600.c17d18",
        "label": "new package",
        "type": "tab"
    },
    {
        "id": "9a35d69d.adeb08",
        "type": "twitter",
        "z": "c79ee600.c17d18",
        "name": "",
        "subtype": "twitterHashTagStream",
        "x": 401,
        "y": 420,
        "wires": [
            [
                "2a94594a.6562d6"
            ]
        ]
    },
    {
        "id": "3b8495a.c860f6a",
        "type": "app",
        "z": "c79ee600.c17d18",
        "name": "",
        "appId": "webapp",
        "layout": null,
        "x": 901,
        "y": 506,
        "wires": []
    },
    {
        "id": "2a94594a.6562d6",
        "type": "dbfunction",
        "z": "c79ee600.c17d18",
        "name": "tweet sentiment",
        "func": "var sentiment = require(\"sentiment\");\nvar r = sentiment(msg.payload.value);\n\nreturn {\n    payload: {\n        tweet: msg.payload.value,\n        sentiment: r.score,\n    }\n}",
        "outputs": 1,
        "inputtypedef": "",
        "outputtypedef": "{\n    \"name\": \"container object\",\n    \"type\": \"object\",\n    \"properties\": {\n        \"payload\": {\n            \"type\": \"object\",\n            \"properties\":{\n                \"tweet\": {\"type\":\"string\"},\n                \"sentiment\": {\"type\": \"number\"}\n            }\n        }\n    }\n}",
        "noerr": 0,
        "x": 591,
        "y": 423,
        "wires": [
            [
                "20725dad.6e52e2",
                "83cdc5c2.5b13f8"
            ]
        ]
    },
    {
        "id": "20725dad.6e52e2",
        "type": "debugger",
        "z": "c79ee600.c17d18",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 754,
        "y": 340,
        "wires": []
    },
    {
        "id": "83cdc5c2.5b13f8",
        "type": "uibuilder",
        "z": "c79ee600.c17d18",
        "name": "",
        "templatesById": {
            "79018062.5d533": {
                "id": "79018062.5d533",
                "label": "group:79018062.5d533",
                "type": "group",
                "x": -6,
                "y": -13,
                "width": 1399.1300048828125,
                "height": 840.5890502929688,
                "children": [
                    "12832db6.44ab02",
                    "a49936da.7398c8",
                    "3ab5b12d.bb692e",
                    "4a8ff15e.450c7",
                    "26cb77ee.9d2aa8",
                    "20c35985.6f4606",
                    "643debd2.3ae504",
                    "8ef4e467.db1d48",
                    "af2e3aef.fedf78",
                    "4df46e60.079a4",
                    "fda2d539.506928"
                ],
                "style": {
                    "fill": "none",
                    "stroke": "none",
                    "opacity": 1,
                    "stroke-width": 0
                }
            },
            "12832db6.44ab02": {
                "id": "12832db6.44ab02",
                "label": "rect:12832db6.44ab02",
                "type": "rect",
                "x": 0,
                "y": 4.465000152587891,
                "width": 1399.1300048828125,
                "height": 836,
                "style": {
                    "fill": "rgb(72, 72, 72)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "a49936da.7398c8": {
                "id": "a49936da.7398c8",
                "label": "path:a49936da.7398c8",
                "type": "path",
                "d": "M 470.689,840.589 l 162.946,-652.928 l 0,327.077 l -119.495,325.851 l -43.451,0 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "3ab5b12d.bb692e": {
                "id": "3ab5b12d.bb692e",
                "label": "path:3ab5b12d.bb692e",
                "type": "path",
                "d": "M 435.616,840.589 l 119.253,-782.314 l 78.766,116.442 l 0,20.199 l -161.67,645.673 l -36.349,0 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "4a8ff15e.450c7": {
                "id": "4a8ff15e.450c7",
                "label": "path:4a8ff15e.450c7",
                "type": "path",
                "d": "M 399.186,840.589 l 45.618,-840.589 l 70.646,0 l 41.24,60.966 l -120.355,779.623 l -37.149,0 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "26cb77ee.9d2aa8": {
                "id": "26cb77ee.9d2aa8",
                "label": "path:26cb77ee.9d2aa8",
                "type": "path",
                "d": "M 399.577,840.589 l -40.8,0 l -42.004,-768.923 l 105.946,-71.666 l 23.362,0 l -46.504,840.589 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "20c35985.6f4606": {
                "id": "20c35985.6f4606",
                "label": "path:20c35985.6f4606",
                "type": "path",
                "d": "M 313.617,840.589 l -52.125,0 l -189.136,-602.968 l 122.203,-82.662 l 119.058,685.63 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "643debd2.3ae504": {
                "id": "643debd2.3ae504",
                "label": "path:643debd2.3ae504",
                "type": "path",
                "d": "M 358.777,840.589 l -44.168,0 l -119.259,-686.788 l 121.423,-82.135 l 42.004,768.923 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "8ef4e467.db1d48": {
                "id": "8ef4e467.db1d48",
                "label": "path:8ef4e467.db1d48",
                "type": "path",
                "d": "M 262.646,840.589 l -55.294,0 c -72.932,-156.645 -152.544,-326.141 -202.741,-428.573 l 0,-129.772 c 32.536,-21.836 68.535,-45.781 68.535,-45.781 l 189.5,604.126 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "af2e3aef.fedf78": {
                "id": "af2e3aef.fedf78",
                "label": "path:af2e3aef.fedf78",
                "type": "path",
                "d": "M 390.53,42.365 l 4.847,37.099 l 37.841,7.445 l -34.845,15.484 l 4.847,37.099 l -26.383,-27.53 l -34.846,15.484 l 18.541,-32.498 l -26.383,-27.53 l 37.841,7.445 l 18.54,-32.498 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "4df46e60.079a4": {
                "id": "4df46e60.079a4",
                "label": "path:4df46e60.079a4",
                "type": "path",
                "d": "M 155.885,196.701 l 4.847,37.099 l 37.841,7.445 l -34.845,15.484 l 4.847,37.099 l -26.383,-27.53 l -34.846,15.484 l 18.54,-32.498 l -26.383,-27.53 l 37.842,7.445 l 18.54,-32.498 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "fda2d539.506928": {
                "id": "fda2d539.506928",
                "label": "path:fda2d539.506928",
                "type": "path",
                "d": "M 194.763,336.263 l 4.847,37.099 l 37.842,7.445 l -34.846,15.484 l 4.847,37.099 l -26.383,-27.53 l -34.845,15.484 l 18.54,-32.498 l -26.383,-27.53 l 37.841,7.445 l 18.54,-32.498 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "2f83a267.196a6e": {
                "id": "2f83a267.196a6e",
                "label": "circle:2f83a267.196a6e",
                "type": "circle",
                "cx": 690.2814371257485,
                "cy": 360.2874251497006,
                "r": 212.8497122384712,
                "style": {
                    "fill": "white",
                    "stroke": "none",
                    "stroke-width": 1,
                    "opacity": 1
                }
            },
            "f9912491.dafba8": {
                "id": "f9912491.dafba8",
                "label": "group:f9912491.dafba8",
                "type": "group",
                "x": 608.7671811425358,
                "y": 25.509678244020336,
                "width": 161.9934604484588,
                "height": 670.2619167864323,
                "children": [
                    "7952b266.0d3e4c",
                    "6c454c22.d9b914",
                    "f13123d5.165e6",
                    "a449eb48.2b1168",
                    "1312c4c1.1c3f6b",
                    "571d85a7.eb860c",
                    "b8d39eee.f6bbf",
                    "cf8bbb36.96d8a8",
                    "f6e2d645.4910e8",
                    "5825918d.67fc4",
                    "66a1d3fa.95e6fc",
                    "d9a63e7.945f3c",
                    "36165c31.0a81a4",
                    "74417a31.fa49c4"
                ],
                "style": {
                    "fill": "none",
                    "stroke": "none",
                    "opacity": 1,
                    "stroke-width": 0
                }
            },
            "7952b266.0d3e4c": {
                "id": "7952b266.0d3e4c",
                "label": "path:7952b266.0d3e4c",
                "type": "path",
                "d": "M 19.112,46.425 c -0.034,15.544 58.418,46.764 94.325,46.844 c 25.739,0.057 49.231,-37.756 49.106,-46.525 c -0.113,-8 -23.16,-46.687 -48.898,-46.744 c -35.908,-0.08 -94.498,30.88 -94.533,46.425 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "6c454c22.d9b914": {
                "id": "6c454c22.d9b914",
                "label": "path:6c454c22.d9b914",
                "type": "path",
                "d": "M 21.879,39.415 l 32.353,-0.302 l -14.617,-20.794 l -34.179,0.083 l 16.443,21.013 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "f13123d5.165e6": {
                "id": "f13123d5.165e6",
                "label": "path:f13123d5.165e6",
                "type": "path",
                "d": "M 21.858,52.606 l 33.939,1.265 l -17.155,20.979 l -33.772,0.408 l 16.988,-22.652 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "a449eb48.2b1168": {
                "id": "a449eb48.2b1168",
                "label": "path:a449eb48.2b1168",
                "type": "path",
                "d": "M 0.016,43.414 l -0.016,7.004 l 50.689,0.113 l 0.015,-7.004 l -50.688,-0.113 Z",
                "style": {
                    "fill": "rgb(255, 255, 255)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "1312c4c1.1c3f6b": {
                "id": "1312c4c1.1c3f6b",
                "label": "path:1312c4c1.1c3f6b",
                "type": "path",
                "d": "M 25.648,46.69 c -0.032,14.318 53.805,43.073 86.878,43.147 c 23.706,0.052 45.344,-34.776 45.229,-42.853 c -0.104,-7.368 -21.332,-43 -45.038,-43.053 c -33.073,-0.073 -87.037,28.442 -87.069,42.759 Z",
                "style": {
                    "fill": "rgb(38, 74, 139)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "571d85a7.eb860c": {
                "id": "571d85a7.eb860c",
                "label": "path:571d85a7.eb860c",
                "type": "path",
                "d": "M 22.012,36.181 l 27.103,0.061 l -12.06,-15.464 l -27.076,-0.06 l 12.033,15.463 Z",
                "style": {
                    "fill": "rgb(1, 58, 87)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "b8d39eee.f6bbf": {
                "id": "b8d39eee.f6bbf",
                "label": "path:b8d39eee.f6bbf",
                "type": "path",
                "d": "M 21.746,57.116 l 27.103,0.061 l -12.128,15.409 l -27.077,-0.06 l 12.102,-15.41 Z",
                "style": {
                    "fill": "rgb(1, 58, 87)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "cf8bbb36.96d8a8": {
                "id": "cf8bbb36.96d8a8",
                "label": "path:cf8bbb36.96d8a8",
                "type": "path",
                "d": "M 2.921,44.99 l -0.007,3.126 l 38.484,0.086 l 0.007,-3.127 l -38.484,-0.085 Z",
                "style": {
                    "fill": "rgb(1, 58, 87)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "f6e2d645.4910e8": {
                "id": "f6e2d645.4910e8",
                "label": "path:f6e2d645.4910e8",
                "type": "path",
                "d": "M 111.346,89.795 c -11.997,-8.649 -20.027,-24.549 -19.987,-42.697 c 0.042,-18.534 8.489,-34.685 20.949,-43.145 c 0.498,-0.012 0.991,-0.017 1.48,-0.016 c 23.707,0.053 44.934,35.685 45.039,43.053 c 0.114,8.077 -21.523,42.905 -45.23,42.853 c -0.74,-0.002 -1.49,-0.018 -2.251,-0.048 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "5825918d.67fc4": {
                "id": "5825918d.67fc4",
                "label": "path:5825918d.67fc4",
                "type": "path",
                "d": "M 157.055,52.324 c -5.065,12.504 -23.726,37.678 -43.884,37.633 c -33.072,-0.073 -86.91,-28.828 -86.878,-43.146 c 0.004,-1.779 0.84,-3.776 2.365,-5.911 c 3.829,14.767 55.584,41.398 87.845,41.47 c 16.832,0.038 32.635,-17.037 40.552,-30.046 Z",
                "style": {
                    "fill": "rgb(1, 58, 87)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "66a1d3fa.95e6fc": {
                "id": "66a1d3fa.95e6fc",
                "label": "path:66a1d3fa.95e6fc",
                "type": "path",
                "d": "M 81.669,87.357 l -6.258,0.068 l 6.341,582.944 l 6.258,-0.068 l -6.341,-582.944 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "none",
                    "stroke-width": 0,
                    "opacity": 1
                }
            },
            "d9a63e7.945f3c": {
                "id": "d9a63e7.945f3c",
                "label": "path:d9a63e7.945f3c",
                "type": "path",
                "d": "M 90.513,78.118 c 5.47,6.618 4.539,16.432 -2.08,21.903 c -6.618,5.471 -16.432,4.539 -21.903,-2.079 c -5.471,-6.618 -4.539,-16.433 2.079,-21.904 c 6.618,-5.47 16.433,-4.539 21.904,2.08 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "rgb(255, 255, 255)",
                    "stroke-width": "7px",
                    "opacity": 1
                }
            },
            "36165c31.0a81a4": {
                "id": "36165c31.0a81a4",
                "label": "path:36165c31.0a81a4",
                "type": "path",
                "d": "M 96.14,574.405 c 5.471,6.618 4.539,16.433 -2.079,21.904 c -6.618,5.47 -16.433,4.539 -21.904,-2.08 c -5.47,-6.618 -4.538,-16.432 2.08,-21.903 c 6.618,-5.471 16.433,-4.539 21.903,2.079 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "rgb(255, 255, 255)",
                    "stroke-width": "7px",
                    "opacity": 1
                }
            },
            "74417a31.fa49c4": {
                "id": "74417a31.fa49c4",
                "label": "path:74417a31.fa49c4",
                "type": "path",
                "d": "M 93.55,322.973 c 5.47,6.618 4.539,16.432 -2.08,21.903 c -6.618,5.471 -16.433,4.539 -21.903,-2.079 c -5.471,-6.618 -4.539,-16.433 2.079,-21.904 c 6.618,-5.47 16.433,-4.539 21.904,2.08 Z",
                "style": {
                    "fill": "rgb(240, 78, 55)",
                    "stroke": "rgb(255, 255, 255)",
                    "stroke-width": "7px",
                    "opacity": 1
                }
            }
        },
        "templates": [
            "79018062.5d533",
            "2f83a267.196a6e",
            "f9912491.dafba8"
        ],
        "mappings": [],
        "transformers": {},
        "canvasdimensions": {
            "w": 1348,
            "h": 782.5888888888888
        },
        "tree": {},
        "x": 760,
        "y": 487,
        "wires": [
            [
                "3b8495a.c860f6a"
            ]
        ]
    }
]